<a href="https://colab.research.google.com/github/Jiyoon724/class2021Spring/blob/main/syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#0315 영어음성학응용



> **syntax: 제어문**

**for**: for, in, 세미콜론, 탭

반복문으로서 in 안에 있는 것을 순서대로(각각 다르게) 돌림

*in 뒤에 range(★숫자★) 활용 가능:

~까지 인덱스를 스스로 만들어서 실행

-> 어떤 범위의 것을 돌릴지 바로 리스트를 넣거나, 몇 바퀴 돌릴지 숫자로 지정하거나

In [ ]:
a = [1, 2, 3, 4]
for i in a:
    print(i)

1
2
3
4

-> i에 a(리스트 안의 원소)를 순서대로 할당해서 처리

In [ ]:
a = [1, 2, 3, 4]
for i in range(len(a)):
    print(a[i])

1
2
3
4

-> range(len(a)) = range(4)

 a[i]: i번째 원소(1234 순서대로인 것 아님)

In [1]:
#연습
b=[2,4,6,8]
for i in range(len(b)):
  print(i)
  #그냥 숫자를 i로 지정하면, "0부터" 순서대로 출력

0
1
2
3

In [3]:
#연습2
b=[2,4,6,8]
#range 안에는 int만 사용
for i in range(b):
  print(i)

TypeError: ignored

In [4]:
#연습3
b=[2,4,6,8]
#range 안에는 int만 사용
for i in b:
  print(i)

2
4
6
8

In [7]:
#연습4
for i in range(len(b)):
  print(b[i])
  #range 4이므로 b[0], b[1], b[2], b[3] 출력
  #정신없이 하면 기본적인 것 헷갈림,, 주의

2
4
6
8

* index 마지막 = len-1

len =/= 인덱스

range(2): 1부터(2개)

print(i): 0부터(2개)

In [10]:
#연습5
for i in range(2):
  print(i)

0
1

문자도 출력할 수 있음

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
    print(i)

red
green
blue
purple

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(a[i])

red
green
blue
purple

In [8]:
#연습1
food = ['사케동','초밥','돈가스','우동']
#i 말고 다른 변수명 써도 됨
for f in food:
  print("오늘 저녁은",f)

오늘 저녁은 사케동
오늘 저녁은 초밥
오늘 저녁은 돈가스
오늘 저녁은 우동

In [9]:
#연습2
food = ['사케동','초밥','돈가스','우동']
#i 말고 다른 변수명 써도 됨
for menu in food:
  print("오늘 저녁은",menu)

오늘 저녁은 사케동
오늘 저녁은 초밥
오늘 저녁은 돈가스
오늘 저녁은 우동

In [12]:
#연습3
f = ['사과','딸기','망고','키위']
for day,fruit in range(4),f:
  print(day+1,"일에 산 과일은",fruit)

ValueError: ignored

In [16]:
#연습4
f = ['사과','딸기','망고','키위']
for i,j in f:
  print(i,j)

사 과
딸 기
망 고
키 위

In [17]:
#연습5
f = ['사과맛','딸기맛','망고맛','키위맛']
for i,j in f:
  print(i,j)

ValueError: ignored

In [ ]:
#=> 더 공부하기

In [ ]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for i, a_ in enumerate(a):
    print("{}: {}%".format(a_, b[i]*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

In [ ]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for a_, b_ in zip(a, b):
    print("{}: {}%".format(a_, b_*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

In [ ]:
a = 0
if a == 0:
    print(a)
else:
    print(a+1)

0

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        print(i*j)

3
4
6
8

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >=4:
            print(i*j)

4
8

In [ ]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2]
b

[2, 3, 4]

In [ ]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']