<a href="https://colab.research.google.com/github/Jiyoon724/class2021Spring/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#0315 영어음성학응용 - variables

In [ ]:
a = 1; print(type(a))

<class 'int'>

> **float, int 함수**

float, int 함수를 통해 정수형, 실수형 데이터를 서로 변환할 수 있음

*int 함수의 논항으로 쓰인 실수형 데이터의 소수 부분은 반올림하여 정수로 출력함

In [ ]:
a = 1; a = float(a); print(type(a))

<class 'float'>

In [ ]:
a = 1.2; a = int(a); print(type(a))

<class 'int'>

▼ 연습1(int)

In [6]:
a=1.375
#주피터 노트북은 맨 마지막 명령의 결과 하나만 출력하는데, print 함수를 쓰면 여러 개 출력할 수 있음
print(type(a))
int(a)
print(type(a))
#-> 함수는 한 번 기능하고 끝이므로 a를 아예 바꾸고 싶으면 함수의 결괏값을 *a에 다시 할당해줘야 함*
a=int(a)
print(type(a))

<class 'float'>
<class 'float'>
<class 'int'>

▼ 연습2(float)

In [8]:
a=149
print(type(a))
a=float(a)
print(a)
print(type(a))

<class 'int'>
149.0
<class 'float'>

In [9]:
type(float(a))
#float(a)도 type함수의 논항으로 사용될 수 있음

float

In [10]:
print(type(float(a)))

<class 'float'>

> **숫자열과 string, 인덱싱**

숫자와, 숫자에 따옴표를 붙여 만든 문자열(string)을 구분하기!

문자열 변수나 문자열 다음 [ ]를 활용하여 인덱싱 가능, 이때 순서는 **0번째부터 시작**함

In [ ]:
a = '123'; print(type(a)); print(a[1])

<class 'str'>
2

▼ 연습

In [11]:
a=12345
b='12345'
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

In [13]:
#정수형 데이터에서 인덱싱 불가능
a[0]

TypeError: ignored

In [14]:
#소수형 데이터에서 인덱싱 불가능
a=float(a)
a[0]

TypeError: ignored

In [15]:
#문자열 데이터는 인덱싱 가능
b[0]

'1'

In [23]:
a=str(a)
print(a)
print(a[1])
print(len(a))
#인덱싱 순서 셀 때 마지막 번호 = (전체길이-1)인 점 유의!(0부터 시작하므로)
print(a[7])

12345.0
2
7

IndexError: ignored

In [24]:
print(a[6])

0

In [37]:
c=724
print(type(str(c)))
print(len(str(c)))
print(str(c)[2])
#함수형태 그대로 논항으로 쓰거나 인덱싱할 수 있음

<class 'str'>
3
4

> **list, tuple, dictionary**

문자열 변수에 list함수를 적용하면 각 character가 리스트의 원소 하나하나로 쪼개져 list가 된 해당 변수에 저장됨.

list도 순서를 기준으로 인덱싱 가능

In [ ]:
a = '123'; a = list(a); print(type(a)); print(a); print(a[2])

<class 'list'>
['1', '2', '3']
3

▼ 연습

In [39]:
a="I'd like to take some rest."
a=list(a)
print(a)

['I', "'", 'd', ' ', 'l', 'i', 'k', 'e', ' ', 't', 'o', ' ', 't', 'a', 'k', 'e', ' ', 's', 'o', 'm', 'e', ' ', 'r', 'e', 's', 't', '.']

In [41]:
#int 데이터는 list함수의 논항이 될 수 없음
b=1235
b=list(b)

TypeError: ignored

In [42]:
#float도 list 함수의 논항이 될 수 없음.
c=123.345
list(c)

TypeError: ignored

list의 원소는 어떤 타입의 변수로 구성되든 상관 없음, 리스트 속에 리스트 원소도 가능

이때, **리스트 원소는 원소 하나로** 취급함.

출력할 때 문법 정보(따옴표 같은)는 빼고 내용물만 출력

In [ ]:
a = [1,'2', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'list'>
1
2
[3, '4']

tuple은 list와 거의 유사한데 데이터 변경(삽입, 제거 등)이 불가능하므로 데이터적인 측면에서 비교적 안전하다고 할 수 있음

In [ ]:
a = (1,'2', [3, '4']); print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'tuple'>
1
2
[3, '4']

▼ 연습

In [45]:
list=['1',2,3.5,"four",['five',6,7.0]]
print(list)

['1', 2, 3.5, 'four', ['five', 6, 7.0]]

In [48]:
print(len(list))
print(list[4])
#대괄호 두 개 이으면 리스트 안에 있는 원소 리스트의 인덱싱도 가능
print(list[4][1])

5
['five', 6, 7.0]
6

In [53]:
list=[("a","b","c")]
print(list)
print(len(list))
#튜플도 인덱싱 마찬가지
print(list[0])
print(list[0][1])

[('a', 'b', 'c')]
1
('a', 'b', 'c')
b

딕셔너리

중괄호로 묶음, 쉼표로 구분, 콜론으로 사전처럼 설명하는 듯한 형태

딕셔너리는 네이밍과 순서가 없으므로, 순서 무시

딕셔너리는 대괄호에 key를 넣어 개별 데이터에 접근함

In [ ]:
a =	{"a": "apple", "b": "orange", "c": 2014}
print(type(a))
print(a["a"])

<class 'dict'>
apple

▼ 연습

In [56]:
Jang={"name": "Jiyoon", "age":22, "major":"Media&Communication", "favorite colors":("yellow","purple","blue")}
print(Jang)

{'name': 'Jiyoon', 'age': 22, 'major': 'Media&Communication', 'favorite colors': ('yellow', 'purple', 'blue')}

In [57]:
#딕셔너리: 인덱싱x
Jang[0]

KeyError: ignored

In [59]:
#안에 있는 key: 변수가 아니므로 *따옴표* 써주기
Jang["name"]

'Jiyoon'

In [60]:
#튜플이나 리스트 안에 있는 값은 인덱싱 가능
Jang["favorite colors"][0]

'yellow'

In [61]:
#key에 value를 새롭게 할당하여 딕셔너리 안의 내용을 바꿀 수 있음
#대괄호와 등호를 사용
#튜플 내에서 내용 수정 불가
Jang["favorite colors"][0]="brown"
print(Jang["favorite colors"])

TypeError: ignored

In [69]:
Jang["major"]="Media"
Jang["favorite colors"]=["yellow","purple","blue"]
# *리스트 안에 문자열 입력할 때, 딕셔너리 key 입력할 때 따옴표 까먹지 말 것
print(Jang)

{'name': 'Jiyoon', 'age': 22, 'major': 'Media', 'favorite colors': ['yellow', 'purple', 'blue']}

In [71]:
print(Jang["favorite colors"][0]); Jang["favorite colors"][2]="charcoal"; print(Jang)

yellow
{'name': 'Jiyoon', 'age': 22, 'major': 'Media', 'favorite colors': ['yellow', 'purple', 'charcoal']}

In [ ]:
a=[(1,2,3), (3,8,0)]
print(type(a))
a

<class 'list'>

[(1, 2, 3), (3, 8, 0)]